body {
	image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
	background: #FBCC0B;
}
canvas {
	display: block;
	margin: auto auto;
}

#backgroundImage {
	background: url("../images/logo2.png");
	background-repeat: no-repeat;
	background-position: center;
}

#victoryBox {
	visibility: visible;
}

img {
	/*width: 85px;
	height: 85px;*/
}
